
/* Navbar */
.Navbar{
  border: solid black 1px;
  position: absolute;
  background: white;

} 

.btn-primary{
  margin-top: 300px;

}

/* Modals */






/* Edits */
.modal-content{
  position: absolute;
  margin-top: -7%;
  margin-left: -35%;
  height: 900px;

}

.nav-link{
  position: relative;
  font-size: 14px;
  color: black;
}
