*{margin: 0%;
padding: 0;}

body{
    background: red;
}


main{
text-align: center;}

.dialogo{
    margin-left: 250px;

}

.babyheader{
    background: white;
    width: 8%;
height: 100vh;
}

.presentacion{
    margin-top: 35%;
}

.habilidades {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."; 
  }

  .modal-footer{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
  }

  .redes{
      width: 50px;
      height: 50px;
  
  }