*{margin: 0%;
padding: 0;}

body{
    background: red;
}


main{
text-align: center;}

.dialogo{
    margin-left: 250px;

}

.babyheader{
    background: white;
    width: 8%;
height: 100vh;
}
.babymain{

}
.presentacion{
    margin-top: 35%;
}